<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.mypackage.sample.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FortuneTelling</servlet-name>
        <servlet-class>org.mypackage.sample.FortuneTelling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>org.mypackage.sample.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myprofile</servlet-name>
        <servlet-class>org.mypackage.sample.myprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sample</servlet-name>
        <servlet-class>sample.sample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>object</servlet-name>
        <servlet-class>org.mypackage.sample.object</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>object_class_1_3_servlet_test</servlet-name>
        <servlet-class>org.mypackage.sample.object_class_1_3_servlet_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>object_1_3_testo</servlet-name>
        <servlet-class>object.object_1_3_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlackJack</servlet-name>
        <servlet-class>BlackJack.BlackJack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ログ用</servlet-name>
        <servlet-class>org.mypackage.sample.ログ用</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ログ作成テスト用</servlet-name>
        <servlet-class>org.mypackage.sample.ログ作成テスト用</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作1</servlet-name>
        <servlet-class>JavaDB.JavaDB操作1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作2</servlet-name>
        <servlet-class>JavaDB.JavaDB操作2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作3</servlet-name>
        <servlet-class>JavaDB.JavaDB操作3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作4</servlet-name>
        <servlet-class>JavaDB.JavaDB操作4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作5</servlet-name>
        <servlet-class>JavaDB.JavaDB操作5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作6</servlet-name>
        <servlet-class>JavaDB.JavaDB操作6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作7</servlet-name>
        <servlet-class>JavaDB.JavaDB操作7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作8</servlet-name>
        <servlet-class>JavaDB.JavaDB操作8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作9</servlet-name>
        <servlet-class>JavaDB.JavaDB操作9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作10</servlet-name>
        <servlet-class>JavaDB.JavaDB操作10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作11</servlet-name>
        <servlet-class>JavaDB.JavaDB操作11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB操作12</servlet-name>
        <servlet-class>JavaDB.JavaDB操作12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB13_newuser</servlet-name>
        <servlet-class>JavaDB.JavaDB13_newuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB13_goodsfind</servlet-name>
        <servlet-class>JavaDB.JavaDB13_goodsfind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB13_newgoods</servlet-name>
        <servlet-class>JavaDB.JavaDB13_newgoods</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaDB13_logincheck</servlet-name>
        <servlet-class>JavaDB.JavaDB13_logincheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JavaDB13_logincheck</servlet-name>
        <url-pattern>/JavaDB13_logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FortuneTelling</servlet-name>
        <url-pattern>/FortuneTelling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myprofile</servlet-name>
        <url-pattern>/myprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sample</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>object</servlet-name>
        <url-pattern>/object</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>object_class_1_3_servlet_test</servlet-name>
        <url-pattern>/object_class_1_3_servlet_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>object_1_3_testo</servlet-name>
        <url-pattern>/object_1_3_testo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlackJack</servlet-name>
        <url-pattern>/BlackJack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ログ用</servlet-name>
        <url-pattern>/___</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ログ作成テスト用</servlet-name>
        <url-pattern>/________</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作1</servlet-name>
        <url-pattern>/JavaDB__1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作2</servlet-name>
        <url-pattern>/JavaDB__2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作3</servlet-name>
        <url-pattern>/JavaDB__3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作4</servlet-name>
        <url-pattern>/JavaDB__4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作5</servlet-name>
        <url-pattern>/JavaDB__5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作6</servlet-name>
        <url-pattern>/JavaDB__6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作7</servlet-name>
        <url-pattern>/JavaDB__7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作8</servlet-name>
        <url-pattern>/JavaDB__8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作9</servlet-name>
        <url-pattern>/JavaDB__9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作10</servlet-name>
        <url-pattern>/JavaDB__10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作11</servlet-name>
        <url-pattern>/JavaDB__11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB操作12</servlet-name>
        <url-pattern>/JavaDB__12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB13_newuser</servlet-name>
        <url-pattern>/JavaDB13_newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB13_goodsfind</servlet-name>
        <url-pattern>/JavaDB13_goodsfind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaDB13_newgoods</servlet-name>
        <url-pattern>/JavaDB13_newgoods</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
